body {
    font-family: 'Merriweather', serif;
    text-align: center;
    background: linear-gradient(to bottom, #f8f6f2, #e0dcc5);
    color: #1e1e1e;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dark-mode {
    background: #1e1e1e;
    color: #f8f8f8;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin: auto;
    margin-bottom: 30px;
    color: #1e1e1e;
    border: 2px solid black;
}
.dark-mode .container {
    background: #333;
    color: #f8f8f8;
    border-color: #777;
}